{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

    {{ if .Params.hero }}
        <div class="section pt-0 pb-0">
            {{ partial "framework/sections/hero/hero.html" (dict "context" $ "hero" .Params.hero) }}
        </div>
    {{ end }}

    <!-- Show a list of 'services' -->
    {{ if .Params.services.enabled }}
        {{ $section := $.Site.GetPage "section" "services" }}
        {{ $pages := where $.Site.RegularPages "Type" "services" }}
        {{ $limit := .Params.services.limit | default 3 }}

        {{ $sort_by := .Params.services.sort_by | default "date" }}
        {{ $pages = $pages.ByParam $sort_by }}

        {{ if gt (len $pages) 0 }}
            <div class="section section-border-bottom section-base-bg">
                <div class="container">
                    <div class="section-heading pb-2">
                        <h2>{{ $section.Title }}</h2>
                        {{ if .Params.services.show_view_all }}
                            <a href="{{ $section.Permalink | relURL }}">{{ i18n "view_all" }}</a>
                        {{ end }}
                    </div>
                    <div class="row">
                        {{ range first $limit $pages }}
                            <div class="col-12 col-md-6 col-lg-4 mb-2">
                                {{ partial "framework/summary/summary-full.html" . }}
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}
    {{ end }}
    
    {{ if .Params.intro_1.enabled }}
        <div class="section section-base-bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {{ partial "framework/sections/info/info.html" (dict "context" $ "info" .Params.intro_1) }}
                    </div>
                </div>
                {{ if .Params.intro_1.partners.enabled }}
                {{ $partners := .Site.Data.partners }}
                    {{ if gt (len $partners) 0}}
                        <div class="row justify-content-center align-items-center pt-3 pt-md-6">
                            {{ range .Site.Data.partners }}
                                <div class="col-4 col-lg-2 text-center mb-1 mt-1">
                                    <img style="max-width: 100px;" height="50px" src="{{ .image | relURL }}" alt="{{ .title }}"/>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    {{ end }}

	<div class="events-container">
	  {{ range .Params.events }}
		<div class="event-box">
		  {{ if .status }}
			<span class="event-badge {{ .status | lower }}">{{ .status }}</span>
		  {{ end }}
		  <h3>{{ .title }}</h3>
		  <ul>
			<li><strong>장소:</strong> {{ .location }}</li>
			<li><strong>일시:</strong> {{ .date }}</li>
			<li><strong>회비:</strong> {{ .fee }}</li>
		  </ul>
		</div>
	  {{ end }}
	</div>

    {{ if .Params.work.enabled }}
        {{ $section := $.Site.GetPage "section" "work" }}
        {{ $pages := where $.Site.RegularPages "Type" "work" }}
        {{ $limit := .Params.work.limit | default 2 }}
        {{ if gt (len $pages) 0 }}
        <div class="section section-base-bg">
            <div class="container">
                <div class="section-heading pb-2">
                    <h2>{{ if .Params.work.label }}{{ .Params.work.label }}{{ else }}{{ $section.Title }}{{ end }}</h2>
                    {{ if .Params.work.show_view_all }}
                        <a href="{{ $section.Permalink | relURL }}">{{ i18n "view_all" }}</a>
                    {{ end }}
                </div>
                <div class="row">
                    {{ range first $limit $pages }}
                        <div class="col-12 col-md-6 col-lg-6 mb-2">
                            {{ partial "theme/summary-background.html" . }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    {{ end }}

    {{ if .Params.outro.enabled }}
        <div class="section section-base-bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {{ partial "framework/sections/info/info.html" (dict "context" $ "info" .Params.outro) }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}

    <!-- X Embedded Timeline -->
    <div class="x-timeline-container" style="display: flex; justify-content: space-between; gap: 20px;">

      <!-- 첫 번째 트윗 박스 -->
      <div class="x-tweet-box">
        <a class="twitter-timeline" 
           href="https://twitter.com/OpenStack?ref_src=twsrc%5Etfw">
           Tweets by OpenStack
        </a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <!-- 두 번째 트윗 박스 -->
      <div class="x-tweet-box">
        <a class="twitter-timeline"
           href="https://twitter.com/openinfradev?ref_src=twsrc%5Etfw"
           data-tweet-limit="5"
           data-theme="light">
           Tweets by openinfradev
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div>

    {{ if .Params.blog.enabled }}
        {{ $section := $.Site.GetPage "section" "posts" }}
        {{ $pages := where $.Site.RegularPages "Type" "posts" }}
        {{ $limit := .Params.blog.limit | default 3 }}
        {{ if gt (len $pages) 0 }}
        <div class="section section-border-top section-base-bg">
            <div class="container">
                <div class="section-heading pb-2">
                    <h2>{{ $section.Title }}</h2>
                    {{ if .Params.blog.show_view_all }}
                        <a href="{{ $section.Permalink | relURL }}">{{ i18n "view_all" }}</a>
                    {{ end }}
                </div>
                <div class="row">
                    {{ range first $limit $pages }}
                        <div class="col-12 col-md-6 col-lg-4 mb-2">
                            {{ partial "framework/summary/summary-full.html" . }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    {{ end }}

{{ end }}
